.CadastrarItem, .tela, form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    a{
        color: #fff;
        text-decoration: none;
    }
    margin-top: 15px;
    .tela{
        flex-direction: column;
        width: 80%;
        height: 70vh;
        background-color: rgb(155, 153, 153);
        h1{
            color: darkred;
        }
        form{
            flex-direction: column; 
            input{
                width: 300px;
                height: 40px;
                border-radius: 10px;
                border: none;
                margin-bottom: 10px;
                
            }
            textarea{
                width: 300px;
                border-radius: 10px;
                border: none;
                margin-bottom: 10px;
            }
        }

    }
}