body{

    background-color: #282c34;
    .PerfilDoador{
        margin-top: 30px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .perfil{
            width: 80%;
            background-color: grey;
            height: 20px;
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;  
            h5{
                color: white;
                margin-right: 8px;
            }
        }
        .infos{
            display: flex;
            flex-direction: column;
            align-items: center;
            // justify-content: center; 
            width: 80%;
            height: 90vh;
            background-color: lightgray;
            div{
                h6{
                    font-size: 12pt;
                }
            }
        }
    }
}