.Lista{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    a{
        text-decoration: none;
        color: #fff;
    }
    .itens{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        background-color: rgb(155, 153, 153);
        width: 80%;
        height: min(80vh);
        h1{
            color: darkred;

        }
    }
}