.Doador {
    section{
        background-color: #282c34;
        min-height:92.5vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        // font-size: calc(10px + 2vmin);
        color: white;
        input{
            display: flex;
            flex-direction: column;
            margin: 5px 0px;
            width: 300px;
            height: 40px;
            border-radius: 10px;
            border: none;
        }
        select{
            width: 300px;
            height: 40px;
            border-radius: 10px;
            margin: 5px 0px;
            border: none;
            display: flex;
            flex-direction: column;

            background-color: white;   
          
        }
    }

}